<?xml version="2.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.rhythmapp198362" version="0.0.7" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>JU-RHYTHM</name>
  <description>
        JECRC University proudly announces its 4th in-line Techno-Cultural Fest “JU Rhythm’ 16” which will be held during 10th – 12th March 2016.
    </description>
  <author email="prashant.pandey.dev@gmail.com" href="prashant-pandey.com">
      Prashant Pandey
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="android-minSdkVersion" value="16"/>
  <preference name="BackupWebStorage" value="none"/>
  <preference name="SplashScreen" value="screen" />
  <preference name="SplashScreenDelay" value="3000" />
  <platform name="android">
    <splash src="splash.png" density="hdpi"/>
  </platform>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
</widget>